<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-control" content="no-cache">
    <title>TWITTER APP</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="/socket.io/socket.io.js">render: function() {
            this.$el.html(this.template(model));
            return this;
        }</script>
    <script type="text/javascript">
        if (!localStorage.getItem('getHistory')) {
            localStorage.setItem('getHistory', JSON.stringify([]));
        }
        function getTime() {
            return new Date();
        }
    </script>
</head>

<body>


    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" style="background-color: #E69CDB;"
            class="show position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">

        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar  navbar-dark sticky-top" style="background-color: #E643B1;">
                <a class="navbar-brand mx-4 mb-3">
                    <img src="iconos/Isotipo_Original.png"
                        style="height: 10vh; margin: auto !important; margin-bottom:20px;"> TWITTER
                </a>

                <div class="navbar-nav w-100">

                    <a type="button" id="home" onclick="home()" class="nav-item nav-link"><i
                            class="fa fa-th me-2"></i>Home</a>

                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="bi bi-person-lines-fill"></i>
                            <span class="d-none d-lg-inline-flex">Amigos</span>
                        </a>
                        <div style="background-color: #E643B1;;" class="dropdown-menu dropdown-menu-end border-0 rounded-0 rounded-bottom m-0">
            {{#each conocidos}}
                            <a type="button" onclick="eliminar('{{this.email}}')" class="dropdown-item">
                                <h6 class="fw-normal mb-0">{{this.email}}</h6>
                            <i class="bi bi-person-dash-fill"></i>
                                <small>Eliminar</small>
                            </a>
                            <hr class="dropdown-divider">
            {{/each}}
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="bi bi-heart-half"></i>
                            <span class="d-none d-lg-inline-flex">Nuevos contactos</span>
                        </a>
                        <div style="background-color: #E643B1;;" class="dropdown-menu dropdown-menu-end border-0 rounded-0 rounded-bottom m-0">
            {{#each desconocidos}}
                            <a type="button" onclick="agregar('{{this.email}}')" class="dropdown-item">
                                <h6 class="fw-normal mb-0">{{this.email}}</h6>
                            <i class="bi bi-person-plus-fill"></i>
                                <small>Agregar</small>
                            </a>
                            <hr class="dropdown-divider">
            {{/each}}
                        </div>
                    </div>
                    <a type="button" id="history" onclick="historial()" class="nav-item nav-link active"><i
                            class="fa fa-table me-2"></i>Historial de Navegación</a>
                    <a href="https://t.me/+3yCttPxfsxJmMzgx" style="margin-top: 50vh;" class="nav-item nav-link active"><i
                            class="bi bi-telegram"></i>   Telegram</a>
                    <a href="https://chat.whatsapp.com/HCWymHAYhypGqOplM2Ork3"class="nav-item nav-link active"><i
                            class="bi bi-whatsapp"></i>   Whatsapp</a>
                </div>
                <div class="footer navbar-fixed-bottom">
                    
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav style="background-color: #F0B246;" class="navbar navbar-expand sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-dark mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <form class="d-none d-md-flex ms-4">
                        {{#each usuario}}
                        <h6 class="mb-0 text-dark">{{this.name}}</h6>
                        {{/each}}
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="/LogOut" class="nav-link dropdown-toggle text-dark">
                            <img class="rounded-circle me-lg-2" src="iconos/mini1.png" alt=""
                                style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex text-dark">Cerrar Sesion</span>
                        </a>

                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <div class="container-fluid pt-4 px-4"  class="tableIDHistory" id="tableIDHistory" style="visibility: collapse;">
                <div class="row g-4">

                    <div class="col-12" >
                        <div  style="background-color: #469DF0;" class=" rounded h-100 p-4">
                            <table class="table table-striped" style="background-color: white;" class="tableIDHistoryContent"  id="tableIDHistoryContent">
                                <thead>
                                    <tr style="text-align: center;">
                                        <th scope="col">Dueño</th>
                                        <th scope="col">Título</th>
                                        <th scope="col">Tipo de historial</th>
                                        <th scope="col">Fecha de visualización</th>
                                    </tr>
                                    </thead>
                                    <tbody style="text-align: center;" id="tbodyid"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


                    <div class="col-12" style="margin-top: -45px;" id="tablaHeader">
                        <div style="background-color: #469DF0;" class=" rounded h-100 p-4">
                            <div class="table-responsive">
                <form action="/menu" method="GET" enctype="multipart/form-data"  onsubmit="return formSubmit('Creacion',undefined,undefined)">
                

                        {{#each usuario}}
                                        <input required="true" id="name" name="name" style="visibility: collapse;"
                                        placeholder="Correo del usuario" value="{{this.name}}">
                        {{/each}}
                                    <div class="row">
                                        <input required="true" id="identificador" name="identificador"
                                        placeholder="Título..." style="text-align: center; ">
                                    </div>
                                    <div class="row">
                                        <textarea required="true" id="message" name="message"
                                        placeholder="Crea una nueva publicación..."
                                        style="height: 100px;  text-align: center; width: 100%;"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                        {{#each usuario}}
                                        <input required="true" id="correo" name="correo" type="email"
                                        placeholder="Correo del usuario" value="{{this.usuario}}">
                        {{/each}}
                                        </div>
                                        <div class="col">
                        {{#each usuario}}
                                    <input style="float: right;"  required="true" id="hora" name="hora" placeholder="HH:mm" type="time" value="{{this.horaActual}}">
                        {{/each}}
                                    </div>
                                        <div class="col">
                                    <button style="float: right;" value="submit">Enviar</button>
                                        </div>
                                    </div>
                </form>
                            </div>
                        </div>
                    </div>
            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4" id="tabla">
                <div class="row g-4">

                                    {{#each listResponse}}
                    <div class="col-12" >
                        <div style="background-color: #469DF0;" class=" rounded h-100 p-4">
                            <h6 class="mb-4" style="text-align: center;">{{this.name}}</h6>
                            <table class="table table-striped" style="background-color: white;">
                                <thead>
                                    <tr style="text-align: center;">
                                        <th scope="col">Amistad</th>
                                        <th scope="col">Titulo</th>
                                        <th scope="col">Mensaje</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="text-align: center;">

                                        <td>{{this.name}}</td>
                                        <td>{{this.identificador}}</td>
                                        <td><a data-toggle="modal" data-target="#modalMessage{{this._id}}"
                                                style="color: black;"
                                                onclick="publicaHistorial('Visualizacion','{{this.correo}}','{{this.identificador}}')"><u>Ver</u>
                                        </td>
                                        </a>
                                    </tr>

                                    <div class="modal fade" id="modalMessage{{this._id}}" tabindex="-1" role="dialog"
                                        aria-labelledby="modalMessageLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content"  style="text-align: center;">
                                                <div class="modal-header" style="text-align: center;">
                                                    <small>{{this.hora}}</small>
                                                    
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h5 class="modal-title" id="modalMessageLabel"  style="text-align: center;">
                                                        {{this.identificador}}</h5>
                                                    <p>{{this.message}}</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <input id="like{{this._id}}" value="{{this.likes}}" disabled
                                                        width="auto">
                                                    <button type="button" class="btn btn-success"
                                                        onclick="darLike('{{this._id}}','{{this.likes}}')"><i class="bi bi-hand-thumbs-up"></i>
Like</button>
                                                    <button type="button" class="btn btn-warning"
                                                        onclick="dardislike('{{this._id}}','{{this.likes}}')"><i class="bi bi-hand-thumbs-down-fill"></i>
Dislike</button>
                                                    <button type="button" class="btn btn-dark"
                                                        data-dismiss="modal">Aceptar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                                    {{/each}}
                </div>
            </div>
        </div>
    </div>
                            <table class="table table-striped table-dark">
                                <thead>
                                    <tr style="text-align: center;">
                                        <th scope="col">Amistad</th>
                                        <th scope="col">Titulo</th>
                                        <th scope="col">Mensaje</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="text-align: center;">

                                        <td>{{this.correo}}</td>
                                        <td>{{this.identificador}}</td>
                                        <td><a data-toggle="modal" data-target="#modalMessage{{this._id}}"
                                                style="color: black;"
                                                onclick="publicaHistorial('Visualizacion','{{this.correo}}','{{this.identificador}}')"><u>Ver</u>
                                        </td>
                                        </a>
                                    </tr>

                                    <div class="modal fade" id="modalMessage{{this._id}}" tabindex="-1" role="dialog"
                                        aria-labelledby="modalMessageLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalMessageLabel">
                                                        {{this.identificador}} - {{this.hora}}</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {{this.message}}
                                                </div>
                                                <div class="modal-footer">
                                                    <input id="like{{this._id}}" value="{{this.likes}}" disabled
                                                        width="auto">
                                                    <button type="button" class="btn btn-success"
                                                        onclick="darLike('{{this._id}}')"><i class="bi bi-hand-thumbs-up"></i>
Like</button>
                                                    <button type="button" class="btn btn-warning"
                                                        onclick="dardislike('{{this._id}}')"><i class="bi bi-hand-thumbs-down-fill"></i>
Dislike</button>
                                                    <button type="button" class="btn btn-dark"
                                                        data-dismiss="modal">Aceptar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tbody>
                            </table>

</body>

</html>